customtkinter==5.2.2
darkdetect==0.8.0
packaging==24.0
pynput==1.7.6
pyobjc-core==10.2
pyobjc-framework-ApplicationServices==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-CoreText==10.2
pyobjc-framework-Quartz==10.2
six==1.16.0
types-pynput==1.7.5.20240311
